<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.byhook.cordova.wifilauncher"
		version="0.0.3">

    <name>WifiLauncher</name>
    <description>Wifi Launcher Plugin</description>
    <license>Apache 2.0</license>
    <keywords>wifi,launcher,settings,menu</keywords>
    <repo>https://github.com/normmcgarry/cordova-wifilauncher.git</repo>
    <issue>https://github.com/normmcgarry/cordova-wifilauncher/issues</issue>

    <js-module src="www/WifiLauncher.js" name="WifiLauncher">
        <clobbers target="window.WifiLauncher" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
			<feature name="WifiLauncher">
				<param name="ios-package" value="WifiLauncher"/>
			</feature>
        </config-file>

		<header-file src="src/ios/WifiLauncher.h" />
		<source-file src="src/ios/WifiLauncher.m" />

    </platform>
 
    <!-- android -->
    <platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiLauncher">
                <param name="android-package" value="com.byhook.cordova.wifilauncher.WifiLauncher"/>
            </feature>   
        </config-file>
        
        <source-file src="src/android/WifiLauncher.java" target-dir="src/com/byhook/cordova/wifilauncher" />
        
    </platform>

</plugin>
